*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    display: none;
}

body{   
    width: 60%;
    margin: auto;
}

.header-size{
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: aqua;
}

h3, h4, h5{
    font-size: 20px;
    color: lightgray;
}

h5{
    font-size: 15px;
    margin-bottom: 15px;
}

#color-text{
    color: deepskyblue;
}

ul{
    margin-top: 15px;
}

figcaption{
    font-size: 15px;
}

.evidenziato{
    background-color: yellow;
}

table{
    border-collapse: collapse;
    width: auto;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

thead{
    background-color: deepskyblue;
    color: white;
    
}

th{
    white-space: nowrap;
    padding-right: 30px;
}

.row-background{
    background-color: aqua;
}


