*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    display: none;
}

body{   
    width: 100%;
    margin: auto;
}

.container{
    width: 80%;
    margin: auto;
}

.header{
    position: relative;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: aqua;
}

.author-info{
    font-size: 20px;
    color: lightgray;
}

#data{
    font-size: 15px;
    margin-bottom: 15px;
}

#color-text{
    color: deepskyblue;
}

figcaption{
    font-size: 15px;
}

#special-li{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.evidenziato{
    background-color: yellow;
}

table{
    border-collapse: collapse;
    width: auto;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

thead{
    background-color: deepskyblue   ;
    color: white;
    
}

th{
    white-space: nowrap;
    padding-right: 30px;
}

.row-background{
    background-color: darkturquoise;
}

.bottom{
    color: lightgray;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-foto{
    position: relative;
}

.text-overlay{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}


